@font-face {
  font-family: 'Marvel';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/marvel/v10/nwpVtKeoNgBV0qa4llTF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
	margin: 0;
	padding: 0;
	font-family: Marvel;
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}

#fases{
 
  
  margin-top: 100px;
  width: 100%;
  text-align: center;
  
}



#fases .before{
  text-align: center;
  width: 50px; 
  display: inline-block; 
  padding: 1px 15px;
    border-radius: 10px;
    background-color: rgba(150, 1, 63, 0.6);
    color: white;
    box-shadow: rgb(0, 0, 0) 0px 50px 20px inset;
    font-size: 7px; 

    

}

#fases .fase {
	
	margin: 15px 0;
	text-align: center;
  display: inline-block;
    width: 100px;
    padding: 1px 15px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    background-color: rgba(150, 1, 63, 0.6);
    color: white;
    box-shadow: rgb(0, 0, 0) 0px 50px 20px inset;
    
}

#fases .next{
 
	text-align: center;
  width: 50px; 
  display: inline-block;
   padding: 1px 15px;
    border-radius: 10px;
    background-color: rgba(150, 1, 63, 0.6);
    color: white;
    box-shadow: rgb(0, 0, 0) 0px 50px 20px inset;
    font-size: 7px;  
    
}



.nextbot:hover{
  box-shadow: rgb(255, 0, 212) 0px 0px 18px 10px;
}


p {
	margin: 0 0 1.5em 0;
}

.centrallogo {
	max-width: 400px;
    min-width: 100px;
	height: auto;
    display: block;
    margin: 40px auto;
    animation-name: marvel;
    animation-duration: 4s;
    z-index: -1;
}

.imglogo{
    display: inline-block;
    width: 70px;
    
}

@keyframes marvel{
    from{opacity: 0;}
    to{opacity: 1;}
}


#main-header {
	background-color: rgba(0, 0, 0, 1);
	height: 80px;
	text-transform: uppercase;

	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}	

#main-header a {
    color: rgb(185, 2, 2);
}


#logo-header {
    float: left;
    padding: 15px 0 0 30px;
    
    font-size: larger;
    
}


#logo-header .site-name {
    display: inline-block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}
    

/*
    * Navegación
    */
    nav{
       float: right; 
       min-width: max-content;
    }
    
    nav ul {
      list-style:none;
      margin:0;
      padding:0;
      padding-right: 50px;
    }
    
    nav ul a {
      display:block;
      color:red;
      text-decoration:none; 
      font-size:large;
      padding: 0 30px;
      text-transform:uppercase;
      letter-spacing:3px;
    }
    
    nav ul li {
      position: relative;
      line-height: 80px;
      float:left;
      margin:0;
      padding:0;
    }
    
    nav ul a:hover {
      color: white;
      transform: translateY(-2px);
      box-shadow: 0px 2px white;
      font-size: 20px;
      
    }
    
    nav ul ul {
      display:none;
      position:absolute;
      top:100%;
      left:0;
      padding:0;
      background-color: black;
    }
    
    nav ul ul li {
      float:none;
      width:150px
    }
    
    nav ul ul a {
      line-height:120%;
      padding:10px 15px;
    }
    
    nav ul li:hover > ul {
      display:block;
      
    }

    /*vertical submenu*/




 
    
/*Contenido*/


#peliculas {
    border-collapse:separate;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    text-transform: uppercase;
    border-radius: 1.8em;
    overflow:hidden;
    transition: width 2s;
  }

  #peliculas:hover{
    width: 80%;
  }
  
  #peliculas td, #customers th {
    
    padding: 15px;
    width: min-content;

  }
  
  #peliculas tr{
      background-color: rgba(0, 0, 0,0.8);
      color: white;

  }
  
  #peliculas tr:hover {
      background-color: rgba(61, 61, 61,0.7);
      
  }
  
  #peliculas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
   /* background-color: rgba(207, 3, 3,0.6);*/
   background-color: rgba(122, 3, 112, 0.6);
   box-shadow: rgb(0, 0, 0) 0px 20px 20px inset;
    color: white;
  }




/*Footer */

#main-footer {
  background: rgb(0, 0, 0);
  color: rgb(165, 164, 164);
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  height: 50px;
}
#main-footer p {
  display: inline-block;
  margin: 0;
  text-align: center;
}

#main-footer a {
  color: rgb(185, 182, 182);
}

#main-footer img{
  width: 25px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  float: right;
  transition: width 0.5s;
}

#main-footer img:hover{
  width: 1.9em;
  box-shadow: rgb(255, 0, 212) 0px 0px 10px 2px;
  background-color: rgba(255, 0, 212,0.6);
  border-radius: 7px;
}


@media screen and (max-width: 800px) {

  nav ul li a {
      
      display: none;
  }


}

@media screen and (max-width: 700px) {


  #main-footer p {
      display: block;
      margin: 0;
      text-align: center;
  }

  #main-footer img{
      display: block;
      width: 25px;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 15px;
      float: right;
  }


}